[submodule "subprojects/gtk-layer-shell"]
	path = subprojects/gtk-layer-shell
	url = https://github.com/wmww/gtk-layer-shell
[submodule "subprojects/gvc"]
	path = subprojects/gvc
	url = https://github.com/GNOME/libgnome-volume-control
[submodule "subprojects/wayland-logout"]
	path = subprojects/wayland-logout
	url = https://github.com/soreau/wayland-logout
