.wf-panel .launcher,
.wf-panel .launcher:hover,
.wf-panel .tray-button,
.wf-panel .tray-button:hover {
    background: unset;
    border: unset;
    box-shadow: unset;
    padding-left: unset;
    padding-right: unset;
}

.wf-panel .tray-button image,
.wf-panel .launcher image {
    transition: 500ms linear;
    -gtk-icon-transform: scale(0.8);
}

.wf-panel .launcher:hover image,
.wf-panel .tray-button:hover image {
    transition: 500ms linear;
    -gtk-icon-transform: scale(1.2);
}

.wf-panel .battery label,
.wf-panel .battery:hover label,
.wf-panel .window-button label,
.wf-panel .window-button:hover label,
.wf-panel .tray-button,
.wf-panel .tray-button:hover,
.wf-panel .notification button {
    padding-left: 5px;
}

.wf-panel .notification .time {
    padding-left: 5px;
    padding-right: 5px;
}

.wf-panel .tray .tray-button:first-child,
.wf-panel .notification button:first-child {
    padding-left: 0px;
}

.wf-panel .network label {
    padding-left: 6px;
}

.wf-panel .command-output.icon-left label {
    padding-left: 5px;
}

.wf-panel .command-output.icon-right label {
    padding-right: 5px;
}

.wf-panel .command-output.icon-top label {
    padding-top: 5px;
}

.wf-panel .command-output.icon-bottom label {
    padding-bottom: 5px;
}

.wf-panel .language {
    min-width: 48px;
}

.wf-panel .language label {
    background-color: #24283B;
    padding: 5px;
    margin: 5px;
    border-radius: 3px; 
    color: #41A6B5;
}
.excellent {
    color: #00ff00;
}

.good {
    color: #88ff00;
}

.ok {
    color: #ffff00;
}

.weak {
    color: #ff8800;
}

.none {
    color: #ff0000;
}

.wf-dock,
.wf-dock .out-box {
    background: transparent;
}

.wf-dock .box {
    background-color: #33333355;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

.wf-dock button {
    background: transparent;
    padding-left: 0rem;
    padding-right: 0rem;
}

.wf-dock button.activated {
    border-bottom: 3px solid white;
    margin-bottom: 5px;
}

.wf-dock image {
    background: transparent;
    padding-left: 0rem;
    padding-right: 0rem;
    transition: 200ms;
    -gtk-icon-transform: scale(0.7);
}

.wf-dock image:hover {
    background: transparent;
    padding-left: 0rem;
    padding-right: 0rem;
    transition: 200ms;
    -gtk-icon-transform: scale(1.0);
}

.wf-dock image {
    animation-name: embiggen;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.wf-dock .closing image {
    animation-name: kromulent;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.wf-locker .fingerprint-overlay-image {
    -gtk-icon-size: 64px;
}
.wf-locker .fingerprint-overlay-image.good {
    color: #0f0;
}
.wf-locker .fingerprint-overlay-image.bad {
    color: #f00;
}
.wf-locker .fingerprint-overlay-image.info {
    color: #88f;
}
.wf-locker .mpris image.albumart {
    -gtk-icon-size:96px;
}
.wf-locker .user image{
    -gtk-icon-size:96px;
}
.wf-locker image.weather {
    -gtk-icon-size:80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.wf-locker label.weather {
    padding-left: 25px;
}

@keyframes embiggen {
    to {
        -gtk-icon-size: 64px;
        -gtk-icon-transform: translateY(0px);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    from {
        -gtk-icon-size: 0px;
        -gtk-icon-transform: translateY(64px);
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@keyframes kromulent {
    from {
        -gtk-icon-size: 64px;
        -gtk-icon-transform: translateY(0px);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    to {
        -gtk-icon-size: 0px;
        -gtk-icon-transform: translateY(64px);
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
